* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main {
  width: 1440px;
}

h3{
  margin: 15px;
}

.film-banner {
  position: relative;
  color: white;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.film-banner video {
  width: 100%;
}

.film-banner div {
  position: absolute;
  left: 30px;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(10, 10, 10, 0.3);
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  gap: 12px;
}

.film-banner button {
  all: unset;
  background-color: rgba(230, 230, 230, 0.8);
  color: black;
  padding: 5px 10px;
  outline: none;
  border-radius: 8px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.6);

  width: 80px;
  cursor: pointer;
}

.film-banner button:hover {
  opacity: 0.8;
  /* color: rgba(230, 230, 230, .8); */
}

.main-content {
  display: flex;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

article {
  flex: 3;
}

.card {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-content: center;
  border-radius: 15px;
  margin: 10px;
}

.card-desc-header {
  display: flex;
  border-radius: 15px 15px 0 0;
  justify-content: space-around;
  padding: 10px;
}

.card-content {
  padding: 10px;
}

.card-content p{
  padding: 20px;
  text-align: justify;
}

.film-description {
  display: flex;
}

.film-description img {
  margin: 10px;
}

.submenu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 15px;
  border-bottom: 2px solid #f3f3f3;
}

.submenu ul li {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.submenu ul li a{
  text-decoration: none;
  color: inherit;
}

.actores-section {
  margin: 10px;
}

.img-actors-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.img-actors {
  height: 180px;
  width: 180px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img-actors img {
  width: 100%;
}

.img-actors img:hover {
  filter: brightness(0.85);
}

.img-actors p {
  color: white;
  position: absolute;
  left: 8px;
  bottom: 5px;
  text-shadow: 1px 1px 2px black;
  padding: 2px;
  background-color: rgba(250, 250, 250, 0.4);
  /* border: 1px solid rgba(250, 250, 250, 0.4); */
  border-radius: 4px;
}

/* Reseñas */

.reviews-container {
  margin: 10px;
}

.card-reviews-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.card-review {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  gap: 5px;
}

.header-review {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}

.header-review figure {
  width: 10%;
  /* height: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.content-review{
  text-align: justify;
}

.header-review figure img {
  width: 100%;
}

.footer-review {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.footer-review a {
  text-decoration: none;
}

/* Popup */

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: rgba(20, 20, 20, 0.3);
  position: relative;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cerrar {
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 24px;
  color: rgba(255,255,255,0.8);
  cursor: pointer;
}

.card-otras-peliculas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 60%;
  box-shadow: 5px 5px #888888;
}

.card-otras-peliculas figure{
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-otras-peliculas figure img{
  width: 100%;
}

.card-otras-peliculas figcaption{
  padding: 5px;
  text-align: center;
}



/* Estilos del header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
  padding-left: 40px;
}

.nombre_empresa {
  color: white;
  font-size: 1.5em;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

/* Estilos del menú */
.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Para expandir el espacio entre logo y menú */

}

.menu-horizontal {
  list-style: none;
  display: flex;
  gap: 20px;

}

.menu-horizontal li {
  position: relative;
}

.menu-horizontal  li  a {
  display: block;
  padding: 15px 48px;
}

.menu-horizontal  li:hover {
  background-color: blue;
}

.menu-vertical {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  display: none;
  padding: 0;
  margin: 0;
  z-index: 100;
  min-width: 100%;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertical li:hover {
  background-color: rgb(13, 13, 82);
}

.menu-vertical li a {
  display: block;
  color: white;
  padding: 12px 20px;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 10px;
  transition: background-color 0.3s;
}

/* Estilos al pasar el mouse sobre enlaces */
nav a:hover {
  color: yellow;
}



/* footer */
footer{
  font-size:1em;
  color:#30b0e5;
  text-align:left;
  margin: left 0.35em;
  display: block;
  unicode-bidi: isolate;
  /* border-top: auto auto; */
  /* max-width: 100%; */
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #020648;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

hr{
  max-width: 99%;
  margin-left: 1%; 

}

.titulo-footer{
  margin-top: 50px;
  font-weight: bold;
  margin-left: 1%;   
  padding-top: 15px;
}

.redes{
  display: inline-block;
  margin-left: 1%;
}

.aviso{
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}

.btn-sesion{
  display: flex;
  gap: 5px;
}

.btn-sesion a{
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-sesion a:hover{
  background-color: darkblue;
}