
body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(31, 31, 95);
}

a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    padding-left: 40px;
}

.nombre_empresa {
    color: white;
    font-size: 1.5em;
}

h2 {
    padding-left: 0px;
    font-size: 40px;
    color: rgb(204, 204, 101);
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;

}

/* Estilos del menú */
.menu {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Para expandir el espacio entre logo y menú */

}

.menu-horizontal {
    list-style: none;
    display: flex;
    gap: 20px;

}

.menu-horizontal li {
    position: relative;
}

.menu-horizontal  li  a {
    display: block;
    padding: 15px 48px;
}

.menu-horizontal  li:hover {
    background-color: blue;
}

.menu-vertical {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
    padding: 0;
    margin: 0;
    z-index: 100;
    min-width: 100%;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: rgb(13, 13, 82);
}

.menu-vertical li a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    transition: background-color 0.3s;
}

/* Estilos al pasar el mouse sobre enlaces */
nav a:hover {
    color: yellow;
}















/* Estilos del contenedor de reseñas */
.container-resenas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de las tarjetas */
.card {
    width: 20%; /* Tamaño de la tarjeta */
    margin: 15px;
    border-radius: 6px;
    background: #000; /* Fondo negro */
    box-shadow: 0px 1px 10px rgba(204, 235, 31, 0.2); /* Sombra inicial */
    overflow: hidden;
    transition: all 0.4s ease; /* Transición suave */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(222, 247, 4, 0.4); /* Sombra al hacer hover */
    transform: translateY(-3%); /* Efecto de levantar */
}

.card img {
    width: 85%;
    height: auto;
    padding-left: 7.5%;
}

/* Estilos de los títulos h3 dentro de las tarjetas */
.card .contenido h3 {
    width: 100%;/* Ocupan más espacio dentro de la tarjeta */
    margin: 0 0; /* Centrado horizontalmente */
    text-align: center; /* Texto centrado */
    color: aliceblue; /* Color del texto */
    padding: 10px 0; /* Espaciado vertical */
    font-weight: bold; /* Grosor del texto */
    font-size: 1.1em; /* Tamaño del texto */
}

/* Estilos del enlace que envuelve el h3 */
.card .contenido a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 0;
}

/* Estilos del contenedor de imagen */
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Estilos responsivos */
@media (max-width: 680px) {
    .container-resenas {
        flex-direction: column;
        justify-content: center;
    }

    .card {
        width: 80%; /* Las tarjetas ocupan más espacio en pantallas pequeñas */
    }
}

/* Estilos adicionales para subtítulos */
.subtitulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
    font-size: 25px;
    color: aliceblue;
}




/* ............................................................................................................................... */









.resena-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
}

.resena {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.5);
    background-color: white;
}

.resena-img {
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contenedor-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.resena p {
    padding: 0; /* Elimina el padding si lo tuviera */
    margin: 5px 0; /* Controla el margen vertical */
    text-align: justify;
}

.like-contenedor {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.like-contenedor label {
    font-size: 25px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
}

.like-contenedor label span {
    font-size: 15px;
    margin-left: 5px;
    color: #000000;
    transition: color 0.3s ease;
}

.like-contenedor input {
    display: none;
}

.like-contenedor input:checked + label {
    color: #0d00ff;
}

.like-contenedor input:checked + label span {
    color: #000dff;
}

strong {
    font-size: 20px;
}


.subtituloreseñas2{
    width: 100%;
}
