body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(31, 31, 95);
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
img{
    padding-left: 50px;

}

/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.nombre_empresa {
    color: white;
    font-size: 1.5em;
}

h2 {
    padding-left: 0px;
    font-size: 30px;
    color: rgb(204, 204, 101);
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;

}

/* Estilos del menú */
.menu {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Para expandir el espacio entre logo y menú */
}

.menu-horizontal {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-horizontal li {
    position: relative;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 35px;
}

.menu-horizontal > li:hover {
    background-color: blue;
}

.menu-vertical {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: rgb(13, 13, 82);
}

.menu-vertical li a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    transition: background-color 0.3s;
}

/* Estilos al pasar el mouse sobre enlaces */
nav a:hover {
    color: yellow;
}















/* Estilos del contenedor de reseñas */
    .container-reseñas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin: 0 auto;
    }
    
    /* Estilos de las tarjetas */
    
    .card {
    width: 20%;
    margin: 15px;
    border-radius: 6px;
    overflow: hidden;
    background: #000000;
    box-shadow: 0px 1px 10px rgba(204, 235, 31, 0.2);
    cursor: default;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .card:hover {
    box-shadow: 5px 5px 20px rgba(222, 247, 4, 0.4);
    transform: translateY(-3%);
    }
    
    .card img {
    width: 85%;
    height: auto;
    align-items: center;
    padding-left: 7.5%;
    }
    
    .card .container-reseñas img {
    align-items: center;
    justify-content: center;
    }
    
    .card .container-reseñas {
    padding: 15px;
    text-align: center;
    }
    
    .card .container-reseñas h3 {
    font-weight: 150;
    text-align: center;
    align-items: center;
    padding: 2px;
    }
    
    .card .container-reseñas a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    }
    
    figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
    
    /* Estilos responsivos */
    
    @media (max-width: 680px) {
    header {
    flex-direction: column;
    }
    nav {
    padding: 10px 0px;
    }
    .container-reseñas {
    flex-direction: column;
    justify-content: center;
    }
    .card {
    width: 80%;
    align-content: center;
    text-align: center;
    }
    }
    
    /* Estilos adicionales */
    
    .subtitulo {
    padding-left: 30px;
    font-size: 20px;
    }