* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Roboto";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
  overflow-x: hidden;
}
main{
  margin-top: 110px;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

main {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section p {
  text-align: justify;
  line-height: 1.6;
}

section div {
  padding: 20px;
}

section figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section figure img {
  border-radius: 8px;
  max-width: 800px;
}

main section:first-child {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  color: white;
}

main section:last-child {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  color: white;
}

section figure img:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

section:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* Estilos del header */
/* Estilos del header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;   
  text-transform: none;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
  padding-left: 40px;
}

.nombre_empresa {
  color: white;
  font-size: 1.5em;
}

header h2 {
  padding-left: 0px;
  font-size: 40px;
  color: rgb(204, 204, 101);
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;   
  text-transform: none;


}

/* Estilos del menú */
.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Para expandir el espacio entre logo y menú */

}

.menu-horizontal {
  list-style: none;
  display: flex;
  gap: 20px;

}

.menu-horizontal li {
  position: relative;
}

.menu-horizontal  li  a {
  display: block;
  padding: 15px 48px;
}

.menu-horizontal  li:hover {
  background-color: blue;
}

.menu-vertical {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  display: none;
  padding: 0;
  margin: 0;
  z-index: 100;
  min-width: 100%;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertical li:hover {
  background-color: rgb(13, 13, 82);
}

.menu-vertical li a {
  display: block;
  color: white;
  padding: 12px 20px;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 10px;
  transition: background-color 0.3s;
}

/* Estilos al pasar el mouse sobre enlaces */
nav a:hover {
  color: yellow;
}
.btn-sesion{
  display: flex;
  gap: 5px;
}

.btn-sesion a{
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-sesion a:hover{
  background-color: darkblue;
}



/* footer */
footer{
  font-size:1em;
  color:#30b0e5;
  text-align:left;
  margin: left 0.35em;
  display: block;
  unicode-bidi: isolate;
  /* border-top: auto auto; */
  /* max-width: 100%; */
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #020648;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

hr{
  max-width: 99%;
  margin-left: 1%; 

}

.titulo-footer{
  margin-top: 50px;
  font-weight: bold;
  margin-left: 1%;   
  padding-top: 15px;
}

.redes{
  display: inline-block;
  margin-left: 1%;
}

.aviso{
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}

.btn-sesion{
  display: flex;
  gap: 5px;
}

.btn-sesion a{
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-sesion a:hover{
  background-color: darkblue;
}



/*Footer estilos*/

footer{
  font-size:1em;
  color:#30b0e5;
  text-align:left;
  margin: left 0.35em;
  display: block;
  unicode-bidi: isolate;
  border-top: auto auto;
  max-width: 99%px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #020648;
  justify-content: space-around;
  align-items: center;
     

}
footer hr{
  max-width: 99%;
  margin-left: 1%; 

}


.titulo-footer{
  margin-top: 50px;
  font-weight: bold;
  margin-left: 1%;   
  padding-top: 15px;


}
.redes{
  display: inline-block;

  margin-left: 1%;


}
.aviso{
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}