*{
margin:0;
box-sizing:border-box;
padding:0;
}

body{
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 50%);
}

.contenedor{
    width: 1440px;
    /* background: white; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(141, 211, 199, 0.5);
    margin-top: 14px;
    padding: 15px;
}

.perfil-seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgdba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 90%;
}

.perfil-contenido{
    display: flex;
    /* width: 70%; */
    margin: 10px auto;
}

h1, h2{
    margin: 10px 0px;
    padding-left: 50px;
}

.perfil-contenido figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    padding: 20px;
}

.perfil-contenido figure img{
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.perfil-contenido div{
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contenedor-resenias{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #f95738; */
    background: rgba(255, 255, 255, 0.4);
    /* background: rgba(85, 150, 255, .2); */
    
    /* border: 1px solid rgdba(0, 0, 0, 0.2); */
    border-radius: 20px;
    width: 90%;
    align-items: center;
}

.card-resenia{
    border: 1px solid rgdba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, .2);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin: 10px 15px;
    /* background: green; */
    border-radius: 20px;
    width: 80%;
}

.card-resenia figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    padding: 20px;
}

.card-resenia figure img{
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.card-resenia  div{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
}

.card-resenia button{
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 30px;
    color: white;
    background-color: rgba(249, 87, 56, 0.8);
}

.titulo-pelicula{
    color: #0d3b66;
    font-weight: 600;
    font-size: 20px;
}

.titulo-pelicula span{
    color: #808085;
}

.titulo-resenia{
    font-weight: 600;
    font-size: 18px;
}

.fecha-likes{
    font-size: 12px;
}

.resenia-content{
    text-align: justify;
    height: 55px;
    overflow: hidden;
}




/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    width: 100%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
    padding-left: 40px;
  }
  
  .nombre_empresa {
    color: white;
    font-size: 1.5em;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
  }
  
  /* Estilos del menú */
  .menu {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Para expandir el espacio entre logo y menú */
  
  }
  
  .menu-horizontal {
    list-style: none;
    display: flex;
    gap: 20px;
  
  }
  
  .menu-horizontal li {
    position: relative;
  }
  
  .menu-horizontal  li  a {
    display: block;
    padding: 15px 48px;
  }
  
  .menu-horizontal  li:hover {
    background-color: blue;
  }
  
  .menu-vertical {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
    padding: 0;
    margin: 0;
    z-index: 100;
    min-width: 100%;
  }
  
  .menu-horizontal li:hover .menu-vertical {
    display: block;
  }
  
  .menu-vertical li:hover {
    background-color: rgb(13, 13, 82);
  }
  
  .menu-vertical li a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-align: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  /* Estilos al pasar el mouse sobre enlaces */
  nav a:hover {
    color: yellow;
  }
  
  
  
  /* footer */
  footer{
    font-size:1em;
    color:#30b0e5;
    text-align:left;
    margin: left 0.35em;
    display: block;
    unicode-bidi: isolate;
    /* border-top: auto auto; */
    /* max-width: 100%; */
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #020648;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
  }
  
  hr{
    max-width: 99%;
    margin-left: 1%; 
  
  }
  
  .titulo-footer{
    margin-top: 50px;
    font-weight: bold;
    margin-left: 1%;   
    padding-top: 15px;
  }
  
  .redes{
    display: inline-block;
    margin-left: 1%;
  }
  
  .aviso{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
  }
  
  .btn-sesion{
    display: flex;
    gap: 5px;
  }
  
  .btn-sesion a{
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-sesion a:hover{
    background-color: darkblue;
  }