*{
margin:0;
box-sizing:border-box;
padding:0;
}

body{
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 50%);
}

.contenedor{
    width: 1440px;
    /* background: white; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(141, 211, 199, 0.5);
}

.perfil-seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgdba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 90%;
}

.perfil-contenido{
    display: flex;
    /* width: 70%; */
    margin: 10px auto;
}

h1, h2{
    margin: 10px 0px;
    padding-left: 50px;
}

.perfil-contenido figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    padding: 20px;
}

.perfil-contenido figure img{
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.perfil-contenido div{
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contenedor-resenias{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #f95738; */
    background: rgba(255, 255, 255, 0.4);
    /* background: rgba(85, 150, 255, .2); */
    
    /* border: 1px solid rgdba(0, 0, 0, 0.2); */
    border-radius: 20px;
    width: 90%;
    align-items: center;
}

.card-resenia{
    border: 1px solid rgdba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, .2);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin: 10px 15px;
    /* background: green; */
    border-radius: 20px;
    width: 80%;
}

.card-resenia figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    padding: 20px;
}

.card-resenia figure img{
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.card-resenia  div{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
}

.card-resenia button{
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 30px;
    color: white;
    background-color: rgba(249, 87, 56, 0.8);
}

.titulo-pelicula{
    color: #0d3b66;
    font-weight: 600;
    font-size: 20px;
}

.titulo-pelicula span{
    color: #808085;
}

.titulo-resenia{
    font-weight: 600;
    font-size: 18px;
}

.fecha-likes{
    font-size: 12px;
}

.resenia-content{
    text-align: justify;
    height: 55px;
    overflow: hidden;
}